<h2>Composition Detail</h2>
<div id="rendering" style="display: grid; grid-template-columns: 50% 50%">
    <div *ngIf='elementSelected'>
        <app-resource-importer (select)='setupResource($event)'>
        </app-resource-importer>
        <ul>
            <li (click)='splitHorizontal()'>Horizontal split</li>
            <li (click)='splitVertical()'>Vertical split</li>
        </ul>
    </div>
</div>
<button type="submit" 
        class="btn btn-success"
        (click)="submitChanges()">Save Changes</button>
