<div class="card-deck row">
  <div class="card col-sm4" *ngFor='let resource of resources'>
    <div *ngIf='isImage(resource)' style="max-height: 133px; overflow: hidden">
        <img class="card-img-top" src="{{resource.Url}}" alt="Card image cap">
    </div>

    <div *ngIf='!isImage(resource)' style="max-height: 133px; overflow: hidden">
        <img style="overflow: hidden" class="card-img-top" [src]="'assets/resource/stream-gradient.png'" alt="Card image cap">
    </div>

    <div class="card-body">
      <h5 class="card-title">{{resource.Name}}</h5>
    </div>

    <div class="card-body">
      <button (click)='onRemove(resource)' class="btn btn-primary">Remove</button>
    </div>

  </div>
</div>
